* {
  font-size: 1.5rem;
}
.container {
  background-color: aqua;
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.box {
  background-color: blue;
}

.container2 {
  margin-top: 20px;
  height: 300px;
  background-color: rgba(9, 252, 252, 0.774);
  display: flex;
  flex-direction: row-reverse;
  /* flex-wrap: wrap-reverse; */
  /* align-content: space-evenly; */
  align-items: flex-start;
}
.container2 > .box {
  background-color: blanchedalmond;
  border: 2px solid;
}
.container2 > .box:nth-of-type(even) {
  align-self: flex-end;
  flex-grow: 4;
  flex-shrink: 3;
}
.container2 > .box:nth-of-type(odd) {
  align-self: flex-start;
  flex-grow: 1;
}
